<h1>Job From <%= @job.user.full_name %></h1>
<table>
  <tr>
    <th>Position: </th>
    <td><%= @job.position %> </td>
  </tr>
  <tr>
    <th>Location: </th>
    <td><%= @job.place %> </td>
  </tr>
  <tr>
    <th>Contract: </th>
    <td><%= @job.contract %> </td>
  </tr>
  <tr>
    <th>Description: </th>
    <td><%= @job.description %> </td>
  </tr>
</table>
<% if @job.user_id == current_user.id %>
<div><%= link_to "Edit Job", edit_job_path %> </div>
<div><%= link_to 'Delete', job_path(@job), method: :delete, data: { confirm: "Are you sure?" } %></div>
<% end %>
