<h1>Profile Page</h1>
<div>
  <span> Name</span>
  <span> <%= @user.full_name %> </span>
</div>
<div>
  <span>Available</span>
  <span> <%= @current_information.available %></span>
</div>
<div>
  <span>Current Employer</span>
  <span> <%= @current_information.employer %> </span>
</div>
<div>
  <span>Location</span>
  <span> <%= @current_information.location %> </span>
</div>
<div>
  <span>Summary</span>
  <span> <%= @current_information.summary %> </span>
</div>
<div>
  <span>Date Finished</span>
  <span> <%= @current_information.finished %> </span>
</div>
<div>
  <span>Date Started</span>
  <span> <%= @current_information.started %> </span>
</div>
<hr>

<div>
  <span>Previous Employer: </span>
  <% @past_information.each do |info|%>
  <span><%= link_to "#{info.employer}",  show_information_path(id: [:id]) %></span>
  <% end %>
</div>
<div>
    <%= link_to "Add New Work History", new_information_path %>
</div>
<div>
  <%= link_to "Edit Current Work History", edit_information_path%>
</div>
<div>
  <%= link_to "Edit Profile Settings", edit_user_registration_path() %>
</div>
