<h1>Profile Page</h1>
<span> Name</span>
<div> <%= @user.full_name %> </div>

<span>Available</span>
<div> <%= @current_information.available %></div  

<span>Previous Employer</span>
<div> <%= @current_information.employer %> </div> 

<span>Location</span>
<div> <%= @current_information.location %> </div>

<span>Summary</span>
<div> <%= @current_information.summary %> </div 

<span>Date Finished</span>
<div> <%= @current_information.finished %> </div  

<span>Date Started</span>
<div> <%= @current_information.started %> </div>  
<hr>
<% @past_information.each do |info|%>
<span>Previous Employer</span>
<div> <%= info.employer %></div>
<% end %>
<div>
  <%= link_to "Add New Work History", new_information_path %>
</div>
<div>
  <%= link_to "Edit Current Work History", edit_information_path%>
</div>
<div>
  <%= link_to "Edit Profile Settings", edit_user_registration_path() %>
</div>

