<h1><%= @user.first_name %>'s Profile </h1>
<% if @user.avatar.attached? %>
  <p><%= cl_image_tag @user.avatar.key, crop: :scale, width: 150, cloud_name: 'jimmy4finga' %></p>
<% end %>
<p>
  <%= form_with model: @user do |f| %>
    <%= f.file_field :avatar %>
    <%= f.submit "Update User" %>
  <% end %>
</p>
<div>
  <span> Name: </span>
  <span> <%= @user.full_name %> </span>
</div>
<% if !@current_information.nil?%>
  <div>
    <span>Available: </span>
    <span> <%= @current_information.available %></span>
  </div>
  <div>
    <span>Current Employer: </span>
    <span> <%= @current_information.employer %> </span>
  </div>
  <div>
    <span>Location: </span>
    <span> <%= @current_information.location %> </span>
  </div>
  <div>
    <span>Summary: </span>
    <span> <%= @current_information.summary %> </span>
  </div>
  <div>
    <span>Date Finished: </span>
    <span> <%= @current_information.finished %> </span>
  </div>
  <div>
    <span>Date Started: </span>
    <span> <%= @current_information.started %> </span>
  </div>
  <hr>
  <div>
    <% if @user.information.count > 1 %>
      <span>Previous Employer: </span>
    <% end %>
    <% @past_information.each do |info|%>
      <span><%= link_to "#{info.employer}",  show_information_path(info) %></span>
    <% end %>
  </div>
<% end %>
<div>
  <%= link_to "Add New Work", new_information_path %>
</div>
<div>
  <%= link_to "Edit Current Work", edit_information_path%>
</div>
<div>
  <%= link_to "Edit Profile Settings", edit_user_registration_path() %>
</div>
