<h1>Profile Page</h1>
<table>
  <tr>
    <th>Name</th>
    <td><%= current_user.full_name %></td>
  </tr>
    <% current_user.information.reverse.each_with_index do |info, index| %>
    <%# Only display Available on the most recent post %>
    <% if index == 0 %>
  <tr>
    <th>Available</th>
    <td><%= info.available %></td>
  </tr>
  <% end %>
  <tr>
    <th>Previous Employer</th>
    <td><%= info.employer %> </td>
  </tr>
  <tr>
    <th>Location</th>
    <td><%= info.location %> </td>
  </tr>
  <tr>
    <th>Summary</th>
    <td><%= info.summary %> </td>
  </tr>
  <tr>
    <th>Date Finished</th>
    <td><%= info.finished %> </td>
  </tr>
  <tr>
    <th>Date Started</th>
    <td><%= info.started %> </td>  
  </tr>
  <% end %>
</table>
<div>
  <%= link_to "Add New Work History", new_information_path %>
</div>
<div>
  <%= link_to "Edit Current Work History", edit_information_path%>
</div>
<div>
  <%= link_to "Edit Profile Settings", edit_user_registration_path(current_user) %>
</div>

