<h1><%= "#{@user.full_name}" %></h1>
<% if @user.avatar.attached? %>
  <p><%= cl_image_tag @user.avatar.key, crop: :scale, width: 150, cloud_name: 'jimmy4finga' %></p>
<% end %>
<table>
  <tr>
    <th>Available</th>
    <td><%= @user_info.available %></td>
  </tr>
  <tr>
    <th>Previous Employer</th>
    <td><%= @user_info.employer %> </td>
  </tr>
  <tr>
    <th>Location</th>
    <td><%= @user_info.location %> </td>
  </tr>
  <tr>
    <th>Summary</th>
    <td><%= @user_info.summary %> </td>
  </tr>
  <tr>
    <th>Date Finished</th>
    <td><%= @user_info.finished %> </td>
  </tr>
  <tr>
    <th>Date Started</th>
    <td><%= @user_info.started %> </td>
  </tr>
</table>
<div>
  <span>Previous Employer: </span>
  <% @user.information.each do |info|%>
    <% if info != @user.information[-1]%>
      <span><%= link_to "#{info.employer}",  show_information_path(info) %></span>
    <% end %>
  <% end %>
</div>
