<!DOCTYPE html>
<html>

<head>
  <title>DrillersConnect</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <nav>
    <%= link_to "Home", root_path %>
    <%= link_to "Jobs", jobs_path %>
    <%= link_to "Users", users_path %>

    <% if current_user.has_role? :employer%>
    <% if user_signed_in? %>
    <%= link_to "Profile", information_index_path %>
    <% end %>
    <% else %>
    <%= link_to "Edit Profile Settings", edit_user_registration_path() %>
    <% end %>
    <span>
      <% if user_signed_in? %>
      <%= current_user.first_name %>
      |
      <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
      <% else %>
      <%= link_to 'Login', new_user_session_path %>
      |
      <%= link_to 'Sign Up', new_user_registration_path %>
      <% end %>
    </span>
  </nav>
  <%= yield %>
</body>
<footer>
  <%= link_to "Previous Page", :back %>
</footer>

</html>